<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Hi, My name is Peerapat nickname : Aom Nice to meet u
    </p>
    

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="https://www.facebook.com/Aomprps/">Facebook</a>
        <a href="https://www.instagram.com/aomprps_/">Instagram</a>
        <a href="https://twitter.com/aprps2000">Twitter</a>
    </div>


</section>

<p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>